[Unit]
Description=Service for Multiprocessing.py script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/npi/BMS_ZTE/MIDDLEWARE/CONFIG_SYSTEM_DEVICES/Multiprocesing.py
WorkingDirectory=/home/npi/BMS_ZTE/MIDDLEWARE/CONFIG_SYSTEM_DEVICES/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=npi

[Install]
WantedBy=multi-user.target